.gallery {
  margin: 7px;
  border: 1px solid #ccc;
  float: left;
  width: 220px;
  }
  
.gall {
  height: 60%;
  width: 70%;
}
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f4511e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #f4511e}
  
  .button:active {
    background-color:#f4511e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }

.mycontainer {
  width: 90%;
  margin: auto;
}